#weather-status {
color: rgb(48, 6, 6);
font-size: 3rem;
display: block;
}

#search-box{
margin-top: 80px;
}

#city {
    display: inline;
    width: 40%;
    justify-content: center;
}

#wicon {
    width: 125px;
    height: 125px;
}

#temperature{
    font-size: 2.5rem;
}

.hide {
    display: none;
}
